<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./project.css" />
  </head>
  <body>
    <div
      id="menu"
      style="
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: black;
        height: 50px;
        align-items: center;
        justify-content: center;
      "
    >
      <div id="info" style="margin-right: 50px">
        <a
          href="http://127.0.0.1:8000/info"
          style="color: white; text-decoration: none; font-weight: 700"
          >info</a
        >
      </div>
      <div id="project">
        <a
          href="http://127.0.0.1:8000/project"
          style="color: white; text-decoration: none; font-weight: 700"
          >project</a
        >
      </div>
    </div>
    <div>
      <img src="/static/img/project.jpg" style="width: 100vw" />
    </div>
  </body>
</html>
